.dark.svelte-uaanm6 .check.svelte-uaanm6 {
  color: rgba(148, 163, 184, var(--tw-text-opacity));
}

.dark.svelte-uaanm6 .check.nightwind-prevent.svelte-uaanm6 {
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}

.dark.svelte-uaanm6 .nightwind-prevent-block .check.svelte-uaanm6 {
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}

.check.svelte-uaanm6.svelte-uaanm6 {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  --tw-text-opacity:1;
  color: rgb(100 116 139/var(--tw-text-opacity));
}

.nightwind.svelte-uaanm6 .check.svelte-uaanm6 {
  transition-duration: 300ms;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
}

.check.svelte-uaanm6.svelte-uaanm6 {
  translate: 0 calc(-50% + 1px);
}